.logo {
//  position: absolute;
  left: 0px;
  top: 0px;
  width: 110px;
  height: 110px;
  background-image: url("../../images/canine-care-logo-110.png");
  &:before {
    background-image: none !important;
  }
}

.showres {
  position: absolute !important;
  top: 10px !important;
  left: 0px !important;
  height: 10px !important;
  z-index: 99999999;
  font-size: small;
}

@media screen and (max-width: 3000px) {
  .showres:before {
    content: "3000";
  }
}

@media screen and (max-width: 1680px) {
  .showres:before {
    content: "1680";
  }
}

@media screen and (max-width: 1280px) {
  .showres:before {
    content: "1280";
  }
  #banner {
    background-image: url("../../images/canine-care-bella-roman-camps-1600.jpg");
  }
}

@media screen and (max-width: 980px) {
  .showres:before {
    content: "980";
  }
  #banner {
    background-image: url("../../images/canine-care-bella-roman-camps-960.jpg");
    background-size: auto;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 736px) {
  .showres:before {
    content: "736";
  }
}

@media screen and (max-width: 480px) {
  .showres:before {
    content: "480";
  }
  #banner {
    background-image: url("../../images/canine-care-bella-roman-camps-480.jpg");
  }
}

.goto-prev {
  @extend .goto-next;
  top: 0;
  &:before {
    background-image: url("images/previous.svg") !important;
  }
}
#banner {
  background-image: url("../../images/canine-care-bella-roman-camps-1920.jpg");

/*  &:before {
    height: 0px;
    width: 100px;
  }
  &:after {
    height: 114px;
  }*/
  .content {
//    display: block;

    padding: 0px 0px 0px 200px;
    text-align: left;
  }
}