.logo {
//  position: absolute;
  left: 0px;
  top: 0px;
  width: 110px;
  height: 110px;
  background-image: url("../../images/canine-care-logo-110.png");
  &:before {
    background-image: none !important;
  }
  @media screen and (max-width: 980px) {
    width: 44px;
    height: 44px;
    background-image: url("../../images/canine-care-logo-44.png");
    position: absolute;
    left: 2px;
  }
  @media screen and (max-width: 736px) {
    left: 50px;
  }

}

.showres {
  position: absolute !important;
  top: 10px !important;
  left: 0px !important;
  height: 10px !important;
  z-index: 99999999;
  font-size: small;
}

.showres:before {
  @media screen and (max-width: 3000px) {
    content: "3000";
  }
  @media screen and (max-width: 1680px) {
    content: "1680";
  }
  @media screen and (max-width: 1280px) {
    content: "1280";
  }
  @media screen and (max-width: 980px) {
    content: "980";
  }
  @media screen and (max-width: 736px) {
    content: "736";
  }
  @media screen and (max-width: 480px) {
    content: "480";
  }
  @media screen and (max-height: 480px) {
    content: "480";
  }
}
#header {
  h1 {
    left: 0px;
    @media screen and (max-width: 980px) {
      left: 50px;
      .logo {
        left: -50px;
      }
    }
  }
}
#banner {
  background-image: url("../../images/canine-care-bella-roman-camps-1920.jpg");
  .content {
    padding: 0px 0px 0px 200px;
    text-align: left;
    header {
      h2 {
        @media screen and (max-width: 980px) {
          font-size: 2em;
        }
        @media screen and (max-width: 736px) {
          font-size: 1.25em;
        }
      }
    }
  }
  @media screen and (max-width: 1280px) {
    background-image: url("../../images/canine-care-bella-roman-camps-1600.jpg");
  }
  @media screen and (max-width: 980px) {
    background-image: url("../../images/canine-care-bella-roman-camps-960.jpg");
    background-size: auto;
    background-repeat: no-repeat;
  }
  @media screen and (max-width: 736px) {
    background-image: url("../../images/canine-care-bella-roman-camps-736.jpg");
  }
  @media screen and (max-width: 480px) {
    background-image: url("../../images/canine-care-bella-roman-camps-480.jpg");
  }

  @media screen and (max-height: 480px) {
    background-image: url("../../images/canine-care-bella-roman-camps-480.jpg");
  }
}

.goto-prev {
  @extend .goto-next;
  top: 0;
  &:before {
    background-image: url("images/previous.svg") !important;
  }
}
